In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#Store the CSV you created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Skibbereen,IE,2021-09-09 18:27:51,51.5500,-9.2667,66.00,89,69,14.47
1,1,Touros,BR,2021-09-09 18:27:51,-5.1989,-35.4608,85.10,59,13,16.58
2,2,Ilulissat,GL,2021-09-09 18:27:52,69.2167,-51.1000,35.62,69,75,11.50
3,3,Ponta Do Sol,PT,2021-09-09 18:27:52,32.6667,-17.1000,79.00,78,98,1.81
4,4,Cuiaba,BR,2021-09-09 18:27:16,-15.5961,-56.0967,93.20,34,30,7.83

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and
# add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)

#6. Call the figure to plot the data
#fig

In [6]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Ask te customer to add a min and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [12]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <=max_temp)
                                      & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Touros,BR,2021-09-09 18:27:51,-5.1989,-35.4608,85.10,59,13,16.58
3,3,Ponta Do Sol,PT,2021-09-09 18:27:52,32.6667,-17.1000,79.00,78,98,1.81
5,5,Arraial Do Cabo,BR,2021-09-09 18:26:24,-22.9661,-42.0278,82.36,78,0,17.27
14,14,Bathsheba,BB,2021-09-09 18:27:55,13.2167,-59.5167,88.41,66,20,19.57
17,17,Marovoay,MG,2021-09-09 18:27:56,-16.1000,46.6333,77.14,62,1,3.91
...,...,...,...,...,...,...,...,...,...,...
556,556,Sao Joao De Pirabas,BR,2021-09-09 18:30:24,-0.7747,-47.1772,83.52,66,97,10.02
558,558,Kamina,CD,2021-09-09 18:30:25,-8.7386,24.9906,77.29,27,0,4.09
559,559,Puerto Cabello,VE,2021-09-09 18:30:25,10.4731,-68.0125,81.59,81,100,12.17
562,562,Aquin,HT,2021-09-09 18:30:26,18.2833,-73.4000,86.41,64,22,8.32
564,564,Stephenville,US,2021-09-09 18:30:27,32.2207,-98.2023,89.94,28,1,6.91

In [13]:
#Check for any null values
preferred_cities_df.count()

City_ID       194
City          194
Country       193
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [14]:
#Create DataFrame called hotel_df to store hotel names along with city,
#country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Touros      BR     85.10  -5.1989  -35.4608
3      Ponta Do Sol      PT     79.00  32.6667  -17.1000
5   Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
14        Bathsheba      BB     88.41  13.2167  -59.5167
17         Marovoay      MG     77.14 -16.1000   46.6333
23        Kilindoni      TZ     76.64  -7.9139   39.6668
25           Sabang      ID     81.72   5.8933   95.3214
30           Padang      ID     75.25  -0.9492  100.3543
33         Victoria      HK     86.32  22.2855  114.1577
35           Dingle      PH     76.23  10.9995  122.6711

In [15]:
#Set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key":g_key}

In [16]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #use the search term: "lodging" and our laititude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found . . . skipping.")

Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.
Hotel not found . . . skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Touros,BR,85.10,-5.1989,-35.4608,INN NEW HORIZON
3,Ponta Do Sol,PT,79.00,32.6667,-17.1000,Hotel do Campo
5,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
14,Bathsheba,BB,88.41,13.2167,-59.5167,Atlantis Hotel
17,Marovoay,MG,77.14,-16.1000,46.6333,Hôtel les Oliviers Marovoay
23,Kilindoni,TZ,76.64,-7.9139,39.6668,Bustani B&B
25,Sabang,ID,81.72,5.8933,95.3214,Hotel Citra
30,Padang,ID,75.25,-0.9492,100.3543,Mercure Padang
33,Victoria,HK,86.32,22.2855,114.1577,Mini Hotel Central
35,Dingle,PH,76.23,10.9995,122.6711,SEGAYA PROPERTY

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))